[Unit]
Description=Start the origin simulator service
After=network.target network-online.target
[Service]
ExecStart=/opt/origin_simulator/bin/origin_simulator start
ExecStop=/opt/origin_simulator/bin/origin_simulator stop
ExecReload=/opt/origin_simulator/bin/origin_simulator reboot
Restart=always
[Install]
WantedBy=multi-user.target
